@model IEnumerable<kek.Entities.Teams>
@await Html.PartialAsync("_HeaderPartial")
<div class="content">
    @await Html.PartialAsync("_SidebarPartial")
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Кол-во участников</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            kek.Entities.Teams teams = new kek.Entities.Teams() { Id = item.Id};
                        }
                        <td onclick="location.href='@Url.Action("TeamView", "Teams", teams)'">@item.TeamName</td>
                        <td>
                            @item.TeamMembers.Count
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="btn_add-container">
            <button class="add_btn" onclick="location.href='@Url.Action("TeamCreate", "Teams")'">Создать комманду</button>
        </div>
    </div>
    <div class="filters">Фильтры</div>
</div>
@await Html.PartialAsync("_FooterPartial")