@await RenderSectionAsync("Scripts", required: false)
<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("_MetaPartial")
    <link rel="stylesheet" href="~/css/forIdeaInfo.css" />
</head>
<body>
    @RenderBody()
</body>
</html>