@inject IConfiguration configuration
@{
	string? companyName = configuration.GetSection("CompanyName").ToString();
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@(ViewBag.Title ?? companyName)</title>