<div class="sidebar">
    <img src="https://cdn-icons-png.flaticon.com/128/7270/7270025.png" alt="Помощь">
    <a href="@Url.Action("PersonalAccount", "Account")">
        <img src="https://cdn-icons-png.flaticon.com/128/1946/1946429.png" alt="Профиль" style="cursor:pointer;" />
    </a>
    <img src="https://cdn-icons-png.flaticon.com/128/126/126472.png" alt="Настройки">
    
</div>