@model IEnumerable<kek.Entities.User>
@{
    Layout = "_Layout";
}
@await Html.PartialAsync("_HeaderPartial")
<div class="content">
    @await Html.PartialAsync("_SidebarPartial")
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>Почта</th>
                    <th>Роль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            kek.Entities.User teams = new kek.Entities.User() { Id = item.Id };
                        }
                        <td onclick="location.href='@Url.Action("PersonalAccountForAdmin", "Account", new { id = item.Id})'">@item.Email</td>
                        <td>
                            @item.StudyGroup
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="filters">Фильтры</div>
</div>
@await Html.PartialAsync("_FooterPartial")
