<div class="mainTAJIK">
    <div class="main-log">
        <h1>Восстановление пароля</h1>
        <div class="input-box-login">
            <input placeholder="Введите Email"/>
        </div>
        <button onclick ="location.href='@Url.Action("ChangePassword", "Account")'">Отправить код подтверждения</button>
    </div>
</div>